.autocomplete-custom .el-input--prefix .el-input__inner {
  padding-left: 60px;
  height: 80px;
  border-radius: 24px;
  border: none;
  font-size: 20px;
  color: #333;
}
.autocomplete-custom .el-input__clear {
  font-size: 20px;
}
.autocomplete-custom-small .el-input--prefix .el-input__inner {
  font-size: 16px;
  height: 66px;
}
.coinlist-box {
  border-radius: 24px;
  border: 0;
  overflow: hidden;
  margin-top: 6px !important;
  min-height: 150px;
}
.write-amount .el-input-number {
  flex: 1;
}
.write-amount .el-input-number .el-input__inner {
  text-align: left;
  font-size: 28px;
  color: #000;
  border: 0;
}
.write-amount .el-input-number.is-controls-right .el-input-number__increase,
.write-amount .el-input-number.is-controls-right .el-input-number__decrease {
  border: 0;
  background: none;
}
.write-amount .el-input-number.is-controls-right .el-input-number__increase:hover,
.write-amount .el-input-number.is-controls-right .el-input-number__decrease:hover {
  background-color: #eee;
}
.el-input-number__decrease, .el-input-number__increase {
  color: #000;
}
.disc-join .el-input-number {
  width: 500px;
  max-width: 100%;
}
.disc-join .el-input__inner {
  border: 1px solid #0b48e6;
  border-radius: 100px;
  max-width: 100%;
  color: #0b48e6;
  font-size: 25px;
  height: 64px;
  text-indent: 10px;
  padding: 4px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
.disc-join .el-button--primary.is-disabled {
  background: #999;
  border: #999;
}
.themebtn.is-disabled,
.inbtn-box .is-disabled {
  background: #999 !important;
  border: #999;
  color: #000 !important;
  top: 0 !important;
}
.dialog-sucbox {
  border-radius: 20px !important;
}
.noneshadow {
  box-shadow: none;
  border-bottom: 1px solid #eee;
}
.slider-linebox .el-slider__runway {
  background: #acacac;
}
.slider-linebox .el-slider__marks-text {
  color: #333;
}
.slider-linebox .el-slider__button {
  border-color: #cf5800;
}
.slider-linebox .el-slider__bar {
  background-color: #cf5800;
}
.tipsdialog {
  border-radius: 10px;
}
.tipsdialog .el-dialog__headerbtn .el-dialog__close {
  color: red;
}
.tipsdialog .el-dialog__header {
  border-bottom: 1px solid #eee;
}
.tipsdialog .el-alert--warning.is-light {
  border: 1px solid #E6A23C;
}
.contract-unbtn .el-checkbox__inner {
  border-color: #f1a223;
}
.contract-unbtn .el-checkbox__input.is-checked+.el-checkbox__label {
  color: #f1a223;
}
.contract-unbtn .el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #f1a223;
  border-color: #f1a223;
}
.customCharts-dialog {
  background: none;
  box-shadow: none;
}
.customCharts-dialog .el-dialog__headerbtn .el-dialog__close {
  color: #ffffff;
  font-size: 28px;
  position: relative;
  top: -2px;
  z-index: 10;
}
.el-dialog {
  max-width: 100% !important;
}
.customCharts-info {
  border-radius: 20px;
}
.el-message-box {
  max-width: 90%;
}
.el-message {
  min-width: 300px !important;
  max-width: 90% !important;
}
/* @media screen and (max-width: 750px){
  .disc-join .el-input-number {

  }
} */