body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
ul,ol{list-style:none;}
select,input,img,select{vertical-align:middle;}
a{text-decoration:none;}
/* common style */
.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;
}
.themebtn {
  text-decoration: none;
  color: #333;
  border-radius: 15px;
  background: linear-gradient(90deg,#56ffee 25.14%,#82ffca 67.46%,#a7ff62 116.99%,#fcff63 167.07%);
  padding: 11px 50px;
  margin: auto;
  font-size: 16px;
  font-family: "Inter-Regular", sans-serif;
  font-weight: 600;
  line-height: 24px;
  transition-duration: 0.15s;
  transition-property: color, background-color;
  transition-timing-function: linear;
  border: 0;
  top: 0;
  position: relative;
}
.themebtn:hover {
  color: #000;
}
.themebtn:focus {
  color: #000;
}
.themebtn:active {
  top: 2px;
  color: #000;
  background: linear-gradient(90deg,#4cecdc 25.14%,#79f8c3 67.46%,#99ec59 116.99%,#edf05b 167.07%);
}