
.page-index {
  position: relative;
  background: #F2F5FA;
  .video-bg {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 830px;
    z-index: 0;
    object-fit: cover;
  }
}
.page-title {
  padding: 100px 0;
  min-height: 400px;
  h1 {
    font-size: 40px;
    line-height: 1.2;
  }
  h2 {
    margin-top: 20px;
  }
  span {
    background: linear-gradient(270.06deg, #FF820E 10%, #7926FF 52.51%, #356DF3 91.97%),
			#1F2226;
    font-size: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
  }
}
.operation-pool {
  width: 395px;
  min-height: 468px;
  padding: 30px 28px;
  position: absolute;
  top: 70px;
  right: 20px;
  box-sizing: border-box;
  background: linear-gradient(180deg,hsla(0,0%,100%,.4),hsla(0,0%,100%,.1) 87.46%);
  box-shadow: 0 20px 80px rgba(0,0,0,.05);
  border-radius: 24px;
  border: 1px solid hsla(0,0%,100%,.5);
  border-bottom: 1px solid hsla(0,0%,100%,.2);
  display: flex;
  flex-direction: column;
  .slider-linebox {
    padding: 0 16px 30px;
  }
  .pair-h3 {
    margin-top: 20px;
    text-align: center;
  }
  .no-pair {
    font-size: 12px;
    color: red;
    height: 20px;
    width: 100%;
    @include flexBox;
  }
  .pair-content {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    // margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
    @include flexBox;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1px;
      height: 20px;
      background: #eee;
      margin-top: -10px;
    }
    .unitem {
      cursor: no-drop;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      height: 40px;
      margin: 10px 16px;
      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
        margin-right: 10px;
      }
      span {
        font-size: 16px;
        color: #666;
      }
      &.active {
        border-radius: 10px;
        background: linear-gradient(90deg,#56ffee 25.14%,#82ffca 67.46%,#a7ff62 116.99%,#fcff63 167.07%);
        span {
          font-weight: bold;
          color: #000;
        }
      }
    }
  }
  .write-amount {
    width: 336px;
    height: 80px;
    background: #fff;
    border-radius: 24px;
    padding: 12px 32px;
    padding-left: 20px;
    box-sizing: border-box;
    @include flexBox(space-between, center);
    .amount-unit {
      padding-left: 10px;
      @include flexBox;
      .unitico {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: relative;
        top: -1px;
      }
      span {
        font-style: normal;
        font-size: 14.4px;
        line-height: 20px;
        color: #13151a;
        min-width: 44px;
        text-align: center;
      }
    }
  }
  .max-short {
    text-align: center;
    p {
      font-size: 14px;
      color: #333;
    }
  }
  .shortbtn-cell {
    margin-top: 20px;
    @include flexBox(space-between);
    .el-button {
      width: 156px;
      height: 64px;
      float: left;
      font-family: Bold;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #13151a;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background: linear-gradient(90deg,#56ffee 25.14%,#82ffca 67.46%,#a7ff62 116.99%,#fcff63 167.07%);
      border-radius: 100px;
      transition: box-shadow .35s ease,background .35s ease;
      border: 0 !important;
      position: relative;
      &:active {
        border: 0;
        top: 2px;
      }
      &.is-disabled {
        color: #000 !important;
        background: #999 !important;
        top: 0;
      }
      &.btncolor2 {
        background: linear-gradient(90deg,#7d2dff 25.14%,#ac6ce6 67.46%,#df2dff 116.99%,#fcff63 167.07%);
      }
    }
  }
}
.jackpot-box {
  padding: 20px 0 60px;
  position: relative;
  @include flexBox(space-between);
  .jack-item {
    position: relative;
    padding: 24px 40px 40px;
    border-radius: 48px;
    min-height: 220px;
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 30%;
    box-sizing: border-box;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0px 5px 25px rgba(31, 34, 38, 0.1), 
        0px 10px 50px rgba(31, 34, 38, 0.1);
    }
    .j-radius {
      width: 48px;
      height: 48px;
      background: #F2F5FA;
      border-radius: 50%;
      margin-left: auto;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 0;
    }
    .j-title {
      height: 58px;
      position: relative;
      z-index: 2;
      h6 {
        font-size: 24px;
        line-height: 58px;
        color: #1f2226;
      }
    }
    .j-amount {
      position: relative;
      z-index: 2;
      height: 40px;
      p {
        font-size: 20px;
        padding: 2px 0;
        color: #666;
        @include flexBox(flex-start, center);
      }
      .size-text {
        font-size: 16px;
        margin-top: 6px;
      }
      .small {
        font-size: 16px;
      }
    }
    .j-unit {
      width: 20px;
      height: 20px;
      margin-right: 6px;
      position: relative;
    }
    .j-ico {
      width: 120px;
      height: 120px;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 0;
      opacity: 0.5;
    }
    .j-btn {
      margin-top: 16px;
    }
  }
}

.ido-content {
  padding: 60px 0;
  position: relative;
  h2 {
    font-size: 52px;
    text-align: center;
    font-weight: 600;
    line-height: 58px;
    padding-bottom: 48px;
  }
  .timecount-statistic {
    padding: 30px;
    @include flexBox;
    span {
      font-size: 32px;
    }
    b {
      margin: 0px 10px;
      border: 1px solid #ccc;
      padding: 3px;
      font-size: 33px;
      background: linear-gradient(270.06deg, #FF820E 7.8%, #7926FF 52.51%, #356DF3 91.97%), #1F2226;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-box-decoration-break: clone;
    }
  }
  .sline {
    height: 4px;
    width: 100%;
    background: #E1E9FD;
    position: relative;
    .slineitem {
      animation-duration: 6000ms;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      animation-name: speedline;
      background-color: #356DF3;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    @keyframes speedline {
      0% {width:0%;}
      100% {width:100%;}
    }
  }
  .disc-box {
    position: relative;
    border-radius: 48px;
    background-color: #fff;
    .disc-join {
      @include flexBox;
      flex-direction: column;
      padding: 80px 100px;
      .el-button {
        padding: 0 80px;
        height: 48px;
        font-size: 16px;
        min-width: 320px;
        line-height: 24px;
        box-sizing: border-box;
        border-radius: 15px;
        margin-top: 80px;
      }
    }
  }
}
.mindmap-video {
  position: relative;
  display: flex;
  flex-direction: column;
  .video-item {
    width: 100%;
    height: 574px;
  }
  .flow-img {
    width: 100%;
    margin-top: 10px;
  }
}
.dife-linkbox {
  position: relative;
  background: #fff;
  .dife-info {
    padding: 96px 0 50px;
    text-align: center;
    h3 {
      font-size: 55px;
      line-height: 52px;
      margin-bottom: 32px;
      span {
        color: #0b48e6;
        margin-right: 5px;
      }
    }
    p {
      color: #2E343C;
      font-size: 24px;
      line-height: 36px;
      padding: 0 30px;
    }
  }
  .link-logo {
    overflow: hidden;
    width: 100%;
    .link-line-item {
      margin: 5px 0;
      display: flex;
      padding: 0;
      transform: translate3d(0px, 0px, 0px);
      list-style: none;
      transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s, opacity 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s;
      animation: 35s linear 0s infinite alternate none running speedgroup1;
      &.linitem2 {
        animation: 35s linear 0s infinite alternate none running speedgroup2;
        
      }
      @keyframes speedgroup1 {
        0% { transform: translateX(-50%) translateZ(0px); } 
        100% { transform: translateX(0) translateZ(0px); } 
      }
      @keyframes speedgroup2 {
        0% { transform: translateX(0) translateZ(0px); } 
        100% { transform: translateX(-50%) translateZ(0px); } 
      }
      li {
        position: relative;
        border-radius: 21px;
        background-color: #fff;
        transition-duration: 200ms;
        transition-property: box-shadow;
        transition-timing-function: linear;
        color: #1f2226;
        height: 100px;
        min-width: 240px;
        box-sizing: border-box;
        @include flexBox(flex-start);
        &:hover {
          z-index: 1;
          box-shadow: 0 0 10px rgba(31, 34, 38, 0.1), 0 5px 10px rgba(31, 34, 38, 0.15);
        }
        img {
          width: 88px;
          height: 40px;
          object-fit: contain;
        }
        span {
          color: #1f2226;
          font-size: 18px;
          font-family: "Inter-Bold", sans-serif;
        }
      }
    }
  }
}
.charts-box {
  width: 500px;
  height: 500px;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.charts-modal-title {
  background: #0173f7;
  padding: 0 10px;
  height: 40px;
  color: #fff;
  border-radius: 10px;
  position: relative;
  @include flexBox;
  display: inline-flex;
  h2 {
    font-size: 18px;
    font-weight: normal;
    white-space: nowrap;
  }
  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: -2px;
  }
  &::after {
    content: '';
    width: 90%;
    height: 6px;
    background-color: #b9d1f9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: -6px;
    left: 5%;
  }
}
.charts-modal-content {
  position: relative;
  padding-right: 50px;
  margin-top: -20px;
  h3 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  p {
    font-size: 13px;
  }
  .charts-fixed-right {
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    width: 160px;
    height: 160px;
    margin-top: -80px;
    @include flexBox;
    flex-direction: column;
    background: url("~/static/images/vgchart1.png") no-repeat center;
    background-size: 100% 100%;
    strong {
      font-size: 20px;
      color: #333;
    }
    small {
      margin-bottom: -10px;
    }
  }
  .charts-foot-address {
    background-color: #b9d1f9;
    border-radius: 10px;
    margin-top: 20px;
    padding: 0 10px;
    height: 40px;
    @include flexBox(flex-start);
    span {
      color: #333;
      white-space: nowrap;
    }
    b {
      color: #0076fa;
      margin: 0 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 750px) {
  .charts-modal-title h2 {
    font-size: 14px;
  }
  .charts-modal-content {
    padding-right: 0;
    padding-top: 140px;
    .charts-fixed-right {
      top: 80px;
      margin-top: 0;
      margin-left: -80px;
      right: auto;
      left: 50%;
    }
  }
  .operation-pool {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    padding: 10px;
    max-width: 100%;
    .write-amount {
      width: 100%;
    }
  }
  .page-title {
    min-height: auto;
    padding: 100px 0;
    h1 {
      font-size: 30px;
    }
    span {
      font-size: 25px;
    }
  }
  .jackpot-box {
    flex-direction: column;
    .jack-item {
      width: 100%;
      margin-top: 30px;
    }
  }
  .ido-content {
    padding: 0 0 20px;
    h2 {
      font-size: 26px;
      padding-bottom: 20px;
    }
    .timecount-statistic {
      span {
        font-size: 0;
        &::after {
          content: 'ï¼š';
          font-size: 14px;
        }
        &:first-child, 
        &:last-child {
          display: none;
        }
      }
      b {
        font-size: 20px;
        margin: 0 6px;
      }
    }
  }
  .disc-join {
    padding: 30px 20px !important;
    .el-button {
      min-width: 100px !important;
      max-width: 100% !important;
      margin-top: 30px !important;
      padding: 0;
    }
  }
  .dife-linkbox .dife-info h3 {
    font-size: 24px;
  }
  .dife-linkbox .dife-info p {
    font-size: 14px;
    padding: 0;
  }
}
// @media screen and (min-width: 1440px) {
//   .page-title h1 {
//     font-size: 60px;
//   }
//   .page-title span {
//     font-size: 50px;
//   }
// }