// 订单列表
.orderinfo-box {
  width: 100%;
  padding: 90px 30px;
  min-height: 550px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(242, 245, 250, 0) 0%, #F2F5FA 100%), linear-gradient(-270deg, #F4E7DE 0%, #E3DCFA 50%, #D0DCF9 100%, #DBE5F9 100%);
  .swiper-orderinfo {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .swiper-button-prev, 
  .swiper-button-next {
    top: auto;
    bottom: 50px;
    background-size: 13px 22px;
    right: 50%;
    margin-right: -60px;
  }
  .swiper-button-prev {
    left: 50%;
    margin-left: -60px;
  }
  .orderinfo-item {
    position: relative;
    z-index: 99;
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-bottom: 10px solid #dcedea;
    transition-duration: 200ms;
    transition-property: box-shadow;
    transition-timing-function: linear;
    border-radius: 40px;
    // height: 358px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    .coin-colors {
      position: absolute;
      top: -6px;
      left: 15%;
      height: 12px;
      border-radius: 12px;
      width: 70%;
      background-color: #ccc;
    }
    .vimg-bg {
      position: absolute;
      top: 20px;
      right: 30px;
      width: 60px;
      height: auto;
      z-index: 0;
    }
    .o-top {
      position: relative;
      z-index: 2;
      @include flexBox(flex-start);
      strong {
        color: #1f2226;
        font-size: 18px;
        margin-left: 16px;
      }
      .ot-logo {
        width: 32px;
        height: 32px;
        padding: 10px;
        border-radius: 50%;
        background: #F2F5FA;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
    .o-types {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 16px 0;
      @include flexBox(flex-start);
      b {
        font-size: 16px;
        color: red;
        margin-right: 10px;
      }
      span {
        padding-left: 10px;
        font-size: 16px;
        color: #333;
        border-left: 1px solid #eee;
      }
    }
    .oflex-cell {
      padding: 30px 0 20px;
      @include flexBox(space-between);
    }
    .o-price {
      font-size: 24px;
      color: #1cb294;
      z-index: 1;
      .otico {
        width: 30px;
        height: 30px;
        margin: 0 6px;
        top: -2px;
        position: relative;
      }
    }
    .o-rate {
      position: relative;
      z-index: 2;
      font-size: 24px;
      color: #48c774;
      font-weight: bold;
    }
    .o-info {
      width: 100%;
      border-radius: 30px;
      margin: 10px auto 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      position: relative;
      text-align: left;
      h6 {
        color: red;
      }
      .o-addr {
        margin-top: 6px;
        @include flexBox(flex-start);
        span {
          padding-left: 10px;
          border-left: 1px solid #eee;
          font-size: 16px;
          color: #2E343C;
        }
        .copybtn {
          position: relative;
          width: 30px;
          height: 20px;
          vertical-align: middle;
          object-fit: contain;
          cursor: pointer;
        }
      }
      h5 {
        color: #00a2f2;
        font-size: 26px;
        margin-top: 16px;
      }
      .o-tag {
        padding: 0 10px;
        background-color: #1cb294;
        font-size: 14px;
        color: #fff;
        border-radius: 6px;
        height: 24px;
        line-height: 24px;
        margin-right: 10px;
      }
      .o-cellitem {
        padding: 10px 0;
        position: relative;
        z-index: 5;
        @include flexBox(space-between);
        .oline {
          width: 1px;
          height: 20px;
          background-color: #c1c0c0;
          position: relative;
        }
        span {
          font-size: 18px;
          color: #333;
        }
        .sico {
          width: 20px;
          height: 20px;
          vertical-align: middle;
          margin-right: 10px;
        }
        strong {
          font-size: 18px;
          color: #f3ba2e;
          vertical-align: middle;
          width: 138px;
          white-space: nowrap;
          text-align: left;
          @include flexBox(flex-start);
        }
      }
      .o-amount {
        p {
          font-size: 18px;
          line-height: 30px;
          color: #2E343C;
          @include flexBox(flex-start);
          img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }
        strong {
          font-size: 20px;
          color: red;
        }
      }
      .cp-btnbox {
        width: 100%;
        margin-top: 20px;
        @include flexBox;
        .inbtntext {
          min-width: 150px;
          height: 60px;
          background: url('~/static/images/btnbg.png') no-repeat center;
          background-size: 100% 100%;
          box-sizing: border-box;
          padding-bottom: 8px;
          padding-left: 20px;
          padding-right: 20px;
          color: #ffffff;
          cursor: pointer;
          position: relative;
          @include flexBox;
          &:active {
            top: 2px;
          }
          &.disabled,
          &.is-disabled {
            opacity: 0.6;
            top: 0 !important;
          }
        }
        .inbtntext-int1 {
          @extend .inbtntext;
          border: 0;
          padding: 0 0 6px;
          height: 40px;
          min-width: 100px;
        }
        .inbtntext-int2 {
          @extend .inbtntext-int1;
          background-image: url('~/static/images/btnbg2.png');
        }
      }
    }
  }
}
// loading
.box-loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  @include flexBox;
  background: rgba(#000000, 0.8);
  i {
    font-size: 24px;
    color: #ffffff;
  }
}